<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mac.demo.mappers.BoardMapper">

	<insert id="add" parameterType="com.mac.demo.model.User">
		INSERT INTO board(num,title,contents,nickname,wdate,pcode,type) VALUES(BOARD_NUM.NEXTVAL,#{title},#{contents},#{nickname},SYSDATE,#{pcode},type)
	</insert>

	<select id="getList" resultType="com.mac.demo.model.Board">
		SELECT * FROM board WHERE type not in(ads,notice)
	</select>
	
	<select id="getAdsList" resultType="com.mac.demo.model.Board">
		SELECT * FROM board WHERE type=ads
	</select>
	
	<select id="getNoticeList" resultType="com.mac.demo.model.Board">
		SELECT * FROM board WHERE type=notice
	</select>
	
	<select id="getDetail" resultType="com.mac.demo.model.Board">
		SELECT * FROM board WHERE num=#{num}
	</select>

	<update id="edit" parameterType="com.mac.demo.model.Board">
		UPDATE board SET title=#{title}, contents=#{contents} WHERE num=#{num}
	</update>
	
	<delete id="delete" parameterType="com.mac.demo.model.Board">
		DELETE FROM board WHERE num=#{num}
	</delete>

</mapper>