<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>상권정보</title>

<meta content="width=device-width, initial-scale=1.0" name="viewport">
<meta content="Free HTML Templates" name="keywords">
<meta content="Free HTML Templates" name="description">

<!-- Favicon -->
<link href="/main/img/favicon.ico" rel="icon">

<!-- Google Web Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&family=Rubik:wght@400;500;600;700&display=swap" rel="stylesheet">

<!-- Icon Font Stylesheet -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

<!-- Libraries Stylesheet -->
<link href="/main/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
<link href="/main/lib/animate/animate.min.css" rel="stylesheet">

<!-- Customized Bootstrap Stylesheet -->
<link href="/main/css/bootstrap.min.css" rel="stylesheet" type="text/css">

<!-- Template Stylesheet -->
<link rel="stylesheet" type="text/css" href="/main/css/style.css">
<link rel="stylesheet" type="text/css" href="/main/css/ref_swiper.min.css">
<link rel="stylesheet" type="text/css" href="/main/css/ref_style.css">
<link rel="stylesheet" type="text/css" href="/main/css/map.css">



	

</head>
<body>
	<!-- Navbar & Carousel (상단바) Start -->
	<main>
	<header>
	 <div class="container-fluid position-relative p-0">
        <nav class="navbar navbar-expand-lg navbar-dark px-5 py-3 py-lg-0">
            <a href="/home" class="navbar-brand p-0">
            
                <h1 class="m-0"><i class="bi bi-house-door"></i>&nbsp;&nbsp;창업 커뮤니티 및 상권정보</h1>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="fa fa-bars"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ms-auto py-0">
                    <div class="nav-item dropdown">
                        <a href="/board/main" class="nav-link dropdown-toggle">커뮤니티</a>
                        <div class="dropdown-menu m-0">
                            <a href="/board/free/list" class="dropdown-item">자유게시판</a>
                            <a href="/board/ads/list" class="dropdown-item">광고게시판</a>
                            <a href="/board/notice/list" class="dropdown-item">공지사항</a>
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle">상권 정보 분석</a>
                        <div class="dropdown-menu m-0">
                           <a href="price.html" class="dropdown-item">데이터 시각화</a>
                            <a href="feature.html" class="dropdown-item">데이터 분석</a>
                            
                        </div>
                    </div>
                    
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle">이용안내</a>
                        <div class="dropdown-menu m-0">
                            <a href="/home/dataSource" class="dropdown-item">데이터 출처</a>
                            <a href="/home/siteIntroduction" class="dropdown-item">사이트 소개</a>
                            
                        </div>
                    </div>
                </div>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <div th:if="${idMac==null}">
                <a href="/login/loginForm" class="btn btn-primary py-2 px-4 ms-3">로그인</a>
                <a href="/user/addForm" class="btn btn-primary py-2 px-4 ms-3">회원가입</a>
         </div></div>
         <div th:if="${idMac !=null}">
         <h5 th:text="${idMac}+'님 환영합니다'" th:style="'color:gray'"></h5>
          <a href="" class="btn btn-primary py-2 px-4 ms-3" id="logout">로그아웃</a>
          <a th:href="'/user/detail/'+${idMac}" class="btn btn-primary py-2 px-4 ms-3">마이페이지</a>
         </div>
            
        </nav>
        </div>
        
	</header>
		<br>
		<br>
		<br>
<!-- Navbar & Carousel End -->
<section>
		<div class="map">
		<div id="seletedata">
	<button onclick="dataTable('sales')" class="btn btn-primary py-2 px-4 ms-3">예상 매출 데이터</button>
	<button onclick="dataTable('population')" class="btn btn-primary py-2 px-4 ms-3">유동인구 데이터</button>
	<button onclick="dataTable('store')" class="btn btn-primary py-2 px-4 ms-3">점포 데이터</button>
</div>

   <div class="paraent">
	    <div>
	    <h5>구</h5>
		<select id="gu" onChange="javascript:guevent()" ></select>
		</div>
		&nbsp;&nbsp;&nbsp;&nbsp;
		<div>
		<h5>동</h5>
		<select id="dong" onChange="javascript:dongevent()" ></select>
		</div>
		&nbsp;&nbsp;&nbsp;&nbsp;
		<div>
		<h5>골목길</h5>
		<select id="gil" onChange="javascript:gilevent()" ></select>
		</div>
		&nbsp;&nbsp;&nbsp;&nbsp;
		<div>
		<button type="button" onclick="panTo()" class="btn btn-primary py-2 px-4 ms-3"  id="datasearch">검색</button>
	    </div>
	</div>
	<br>	
	<br>
	&nbsp;&nbsp;&nbsp;&nbsp;
	<div class="map_wrap">
	    <div id="map" style="width:70%;height:110%;position:relative; left:50px;overflow:hidden;" ></div>
	</div>


<br>
<br>

   
		

<h1>Flask 비동기 요청</h1>
    <div>
        <form id="data" onsubmit="return flask();">
            <input id="first" name="first" value="first">
        <button type="submit">python 비동기 요청</button>
        </form>
    </div>
    </div>        
	
</section>


	<div class="data">
	
	 
		   <div class="container-fluid pt-4 px-4">
                <div class="row g-4" id="mapdata">
                    <div class="col-sm-12 col-xl-6">
                        <div class="bg-light text-center rounded p-4">
                            <div class="d-flex align-items-center justify-content-between mb-4">
                                <h6 class="mb-0">매출 데이터</h6>
                                <a href="">Show All</a>
                            </div>
                            <canvas id="bigdata"></canvas>
                        </div>
                    </div>
                  
                </div>
            </div>
        

             <div class="container-fluid pt-4 px-4">
                <div class="row g-4" id="mapdata">
                    <div class="col-sm-12 col-xl-6">
                        <div class="bg-light text-center rounded p-4">
                            <div class="d-flex align-items-center justify-content-between mb-4">
                                <h6 class="mb-0">인구 데이터</h6>
                                <a href="">Show All</a>
                            </div>
                            <canvas id="bigdata"></canvas>
                        </div>
                    </div>
                  
                </div>
            </div>
          
           
             <div class="container-fluid pt-4 px-4">
                <div class="row g-4" id="mapdata">
                    <div class="col-sm-12 col-xl-6">
                        <div class="bg-light text-center rounded p-4">
                            <div class="d-flex align-items-center justify-content-between mb-4">
                                <h6 class="mb-0">점포 데이터</h6>
                                <a href="">Show All</a>
                            </div>
                            <canvas id="bigdata"></canvas>
                        </div>
                    </div>
                  
                </div>
            </div>
	
		</div> 

<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=	01cb028783685326bfbb992c1e4945ca&libraries=services"></script>
<script>
var dataKind;
var markers = [];
var x_pit=0;
var y_pit=0;
var xpt;
var ypt;
var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
    mapOption = {
        center: new kakao.maps.LatLng(37.5209, 126.9831), // 지도의 중심좌표 / 좌표 찾는법 : 구글지도에서 찾으려는 위치 선택후 주변검색누르면 좌표확인가능
        level: 8 // 지도의 확대 레벨
    };  

// 지도를 생성합니다
var map = new kakao.maps.Map(mapContainer, mapOption);

//지도 확대 축소를 제어할 수 있는  줌 컨트롤을 생성합니다
var zoomControl = new kakao.maps.ZoomControl();
map.addControl(zoomControl, kakao.maps.ControlPosition.RIGHT);

////////
function start1(){
	var geocoder = new kakao.maps.services.Geocoder(), // 좌표계 변환 객체를 생성합니다
		     wtmX = x_pit, // 변환할 WTM X 좌표 입니다
		     wtmY = y_pit; // 변환할 WTM Y 좌표 입니다
	
	var callback = function(result, status) {
		if (status === kakao.maps.services.Status.OK) {
			console.log(result[0].x);	    
			console.log(result[0].y);
			xpt = result[0].x;
			ypt = result[0].y;
		}
	};
	
	//WTM 좌표를 WGS84 좌표계의 좌표로 변환한다
	geocoder.transCoord(wtmX, wtmY, callback, {
	    input_coord: kakao.maps.services.Coords.WTM,
	    output_coord: kakao.maps.services.Coords.WGS84
	});
}

function panTo() {
	//마커 제거//
	for (var i=0; i<markers.length; i++){
		markers[i].setMap(null);
	}
	
    var moveLatLon = new kakao.maps.LatLng(ypt, xpt);
    var marker = new kakao.maps.Marker({
        position: new kakao.maps.LatLng(ypt, xpt), // 마커를 표시할 위치입니다
        map: map // 마커를 표시할 지도객체입니다
    })
    
    // 지도 이동시 마커의 지도레벨을 정해줌
    map.setLevel(4, {anchor: new kakao.maps.LatLng(ypt, xpt)});
    
    // 지도 중심을 부드럽게 이동시킵니다
    // 만약 이동할 거리가 지도 화면보다 크면 부드러운 효과 없이 이동합니다
    map.panTo(moveLatLon);
    
    //배열안에 마커를 넣어주면서 마커의 순번을 정해주는 코드
    markers.push(marker)
}

function dataTable(kind) {
	dataKind = kind
	alert(kind)
	$.ajax({
		url:'/big/kind',
		method:'post',
		cache:false,
		data: {kind:kind},
		dataType:'json',
		success:function(res){
			//html 에서 option 적용하게 만듬.
			document.getElementById("gu").innerHTML = res.gulist;
			document.getElementById("dong").innerHTML = res.donglist;
			document.getElementById("gil").innerHTML = res.gillist;
			document.getElementById("selectsales").innerHTML = dataKind;
		},
		error:function(xhr,status, err){
			alert('에러:'+err);
		}
	});
	return false;
}

function guevent() {
	var thigu = document.getElementById("gu").value;
	$.ajax({
		url:'/big/dong',
		method:'post',
		cache:false,
		data: {gu:thigu, kind:dataKind},
		dataType:'json',
		success:function(res){
			document.getElementById("dong").innerHTML = res.donglist;
			document.getElementById("gil").innerHTML = res.gillist;
		},
		error:function(xhr,status, err){
			alert('에러:'+err);
		}
	});
	return false;
}

function dongevent() {
	var thisdong = document.getElementById("dong").value;
	$.ajax({
		url:'/big/gil',
		method:'post',
		cache:false,
		data: {dong:thisdong, kind:dataKind},
		dataType:'json',
		success:function(res){
			document.getElementById("gil").innerHTML = res.gillist;
		},
		error:function(xhr,status, err){
			alert('에러:'+err);
		}
	});
	return false;
}

function gilevent() {
	var thisgil = document.getElementById("gil").value;
	$.ajax({
		url:'/big/xy',
		method:'post',
		cache:false,
		data: {gil:thisgil},
		dataType:'json',
		success:function(res){
			x_pit = res.x;
			y_pit = res.y;
			start1();
		},
		error:function(xhr,status, err){
			alert('길을 선택해주세요');
		}
	});
	return false;
}

function flask(){
    var first = document.getElementById('first').value
    alert(first);
    $.ajax({
      type : 'post',
      url : 'http://127.0.0.1:5000/dataTable',
      //data : $('#data').serialize(),
      dataType : 'json',
      success : function(res) {
          alert('ajax으로 넘어옴');
          alert(res.sales.MON_SELNG_AMT);
        //alert('요청 성공쓰');;
      },
      error : function() {
        alert('요청 실패쓰');
      }
    });
    return false;
}
</script>


	    <!-- JavaScript Libraries -->
			<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
			<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
			<script src="/main/lib/wow/wow.min.js"></script>
			<script src="/main/lib/easing/easing.min.js"></script>
			<script src="/main/lib/waypoints/waypoints.min.js"></script>
			<script src="/main/lib/counterup/counterup.min.js"></script>
			<script src="/main/lib/owlcarousel/owl.carousel.min.js"></script>
			<script src="/main/lib/chart/chart.min.js"></script>
	
			<!-- Template Javascript -->
			<script src="/main/js/main.js"></script>
			<script src="/main/js/bigdata.js"></script>
		</main>
		</body>
		<footer class="text-muted py-5">
			<div class="container">
				<p class="float-end mb-1">
					<a href="#">Back to top</a>
				</p>
				<p class="mb-1">Album example is &copy; Bootstrap, but please
					download and customize it for yourself!</p>
				<p class="mb-0">
					New to Bootstrap? <a href="/">Visit the homepage</a> or read our <a
						href="../getting-started/introduction/">getting started guide</a>.
				</p>
			</div>
		</footer>
</html>